@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 300px;
    /* border: 1px solid red; */
    background-image: url('../img/outdoor-dining-1846137_6402.jpg');
    background-size: cover;
    background-position: center;
}

.tempo {
    flex: 100%;
    background-color: black;
    opacity: 0.8;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 8px;
}
.title {
    margin-left: 10%;
}

.tab {
    /* border: 1px solid red; */
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 30px;
    padding: 1px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Estilos do rodapé */
footer {
    background-color: #000000;
    /* Cor de fundo do rodapé */
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 100%;
    margin-top: 30px;
}

/* Estilos das abas */
.tab-container {
    text-align: center;
}

.tabs {
    display: flex;
    justify-content: center;
}

.tab-button {
    border: none;
    background-color: #0B1E08;
    /* Cor de fundo das abas */
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
}

.tab-button.active {
    background-color: #000000;
    /* Cor de fundo das abas ativas */
}

/* Estilos dos conteúdos das abas */
.tab-content {
    display: none;
    padding: 1px;
    text-align: center;
}

.tab-content.active {
    display: block;
}

/* Estilos do rodapé */
footer {
    background-color: #000000;
    /* Cor de fundo do rodapé */
    color: #fff;
    text-align: center;
    padding: 10px;
}
.contact-btn{
    display: inline-block;
    background: #FF2978;
    width:200px;
    padding: 15px 0 15px 0;
    color:white;
    text-transform: uppercase;
    border-radius:5px;
    text-decoration: none;
}

.contact-btn:hover{
    background:#180F4A;
}