@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
h1 {
    color: white;
}
h2 {
    color: rgb(0, 0, 0);
}

.header {
    position:sticky;
    top:-185px;
    z-index: 2;
    display: flex;
    flex-flow: row wrap;
    justify-content:center;
    align-items:end;
    width: 100%;
    height: 300px;
    /* border: 1px solid red; */
    background-image: url('../img/outdoor-dining-1846137_6402.jpg');
    background-size: cover;
    background-position: center;
}
.header-bar {
    display: flex;
    flex-flow: row wrap;
    justify-content:center;
    background-color: black;
    opacity: 0.8;
    padding: 10px 0px 10px 30px;
    align-items:end;
    position:sticky;
    top:0px;
    width: 100%;

}

.clima {
    flex: 80%;
}
.title {
    flex: 20%;
}

.cards {
    /* border: 1px solid red; */
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 30px;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



/* Estilos das abas */
.tab-container {
    text-align:start;
}
.title-controls {
    display: flex;
    flex-flow: row wrap;
    justify-content:center;
    align-items: center;
}

.tabs {
    /* border: 1px solid red;  */
    flex: 50%;
    text-align: right;
}
.title-cards {
    /* border: 1px solid red; */
    flex: 50%;
}

.tab-button {
    border: none;
    background-color: #0B1E08;
    /* Cor de fundo das abas */
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
}

.tab-button.active {
    background-color: #000000;
    /* Cor de fundo das abas ativas */
}

.info-nav {
    display: flex;
    flex-flow: row wrap;
    justify-content:center;
    align-items: center;
}
.info-text {
    /* border: 1px solid red; */
    flex: 50%;
    display: flex;
    flex-flow: row wrap;
    justify-content:center;
    align-items: center;
}
.distancia {
    /* border: 1px solid blue; */
    flex: 50%;
    display: flex;
    flex-flow: row wrap;
    justify-content:start;
    align-items: center;
}
.tempo {
    /* border: 1px solid blue; */
    flex: 50%;
    display: flex;
    flex-flow: row wrap;
    justify-content:start;
    align-items: center;
}
.info-btn {
    /* border: 1px solid red; */
    flex: 50%;
    text-align: right;
}

/* Estilos dos conteúdos das abas */
.tab-content {
    display: none;
    padding: 1px;
    /* text-align: center; */
}

.tab-content.active {
    display: block;
}

/* Estilos do rodapé */
footer {
    background-color: #000000;
    /* Cor de fundo do rodapé */
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 100%;
    margin-top: 50px;
}
.contact-btn{
    display: inline-block;
    background: #000000;
    width:200px;
    padding: 15px 0 15px 0;
    color:white;
    text-transform: uppercase;
    border-radius:5px;
    text-decoration: none;
    text-align: center;
}

.contact-btn:hover{
    background:#0B1E08;
}